@model testTask.Views.ViewModel.AllSightsModel

<div class="sight-container">

    @foreach (var el in Model.Sights)
    {
        <div class="sight-item">
            <a class="simple-link" asp-controller="Articles" asp-action="AllSights" asp-route-itemId=@el.Id>
                <div class="inner-card">
                    <img class="sight-photo" src="@el.Image" />
                    <p>@el.Name</p>
                    <p>@el.Location.Locality - @el.Location.Region обл. @el.Location.District р-н</p>

                    <div>
                        <a class="outlined-button_smal" asp-controller="AdminPage" asp-action="DeleteArticle" asp-route-itemId=@el.Id>Удалить</a>
                        <a class="main-button_smal" asp-controller="AdminPage" asp-action="EditArticle" asp-route-itemId=@el.Id>Изменить</a>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

<a class="main-button" asp-controller="AdminPage" asp-action="AddArticle">Добавить статью о достопримечательности</a>